[Unit]
Description=Restart the samba service daily because it leaks memory

[Timer]
OnCalender=*-*-* 04:00:00 America/New_York

[Install]
WantedBy=timers.target
